{%extends 'base.html'%}
{% load staticfiles%}
{% block content%}

<title> Student_Marks </title>
<body>

<body >

<div class="cointainer">
    <div class="cointainer">
    <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"> Student Marks</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
      <tr>
           <th>Student number</th>
        <th>Math</th>
        <th>English</th>
        <th>Agriculture</th>
          <th>Biology</th>
    </tr>
    </thead>
    <tbody>
<tr>

   <h1> Student Marks </h1>
    {% for mark in marks %}
    <h1>{{mark.mark}}</h1>
    <td>  {{mark.student_number}}</td>
    <td> {{mark.math}}</td>
    <td> {{mark.english}}</td>
    <td> {{mark.agric}}</td>
    <td> {{mark.bio}}</td>
</tr>
 {% endfor %}

  </table>



       </div>
                    </div>
                </div>
</div>
                </div>
    </div>
    </div>
    </div>

</body>
    {% endblock%}








